<div class="container" *ngIf="user && croppedImage; else loading">
    <div class="row">
        <div class="col">
            <!-- <img src="../../assets/images/avatar.jpg" class="rounded img-fluid" alt="..."> -->
            <img [src]="croppedImage" class="rounded-circle" />
            <!-- <fa-icon icon="user-circle" size="10x"></fa-icon> -->
        </div>
        <div class="col align-self-center">
            <div class="row fs-1">{{user.firstName}} {{user.lastName}}</div>
            <div class="row">{{user.username}}</div>
            <div class="row">Membership #: {{user.membershipId}}</div>
        </div>
    </div>
    <hr class="line-divider">

    <div class="row row-cols-1 row-cols-md-2">
        <div class="col">
            <h1>Contact</h1>
            <div class="container border border-dark rounded">
                <div class="row list-group-item">
                    <div class="col" >Email:</div>
                    <div class="col">{{user.contactInfo.email}}  </div>
                </div>
                <div class="row list-group-item">
                    <div class="col">Phone Number:</div>
                    <div class="col">{{user.contactInfo.phone}}</div>
                </div>
                <div class="row"><button routerLink="../profile-update" [state]="{ edit: 'contact' }">Edit</button></div>
            </div>
        </div>
        <div class="col">
            <h1>Mailing Address</h1>
            <div class="container border border-dark rounded">
                <div class="row list-group-item">
                    <div class="col">Street Address:</div>
                    <div class="col">{{user.mailingAddress.address}}</div>
                </div>
                <div class="row list-group-item">
                    <div class="col">City:</div>
                    <div class="col">{{user.mailingAddress.city}}</div>
                </div>
                <div class="row list-group-item">
                    <div class="col">State:</div>
                    <div class="col">{{user.mailingAddress.state}}</div>
                </div>
                <div class="row list-group-item">
                    <div class="col">Zipcode:</div>
                    <div class="col">{{user.mailingAddress.zipcode}}</div>
                </div>
                <div class="row"><button routerLink="../profile-update" [state]="{ edit: 'mailing' }">Edit</button></div>
            </div>
        </div>
        <div class="col">
            <h1>Billing Address</h1>
            <div class="container border border-dark rounded">
                <div class="row list-group-item">
                    <div class="col">Street Address:</div>
                    <div class="col">{{user.billingAddress.address}}</div>
                </div>
                <div class="row list-group-item">
                    <div class="col">City:</div>
                    <div class="col">{{user.billingAddress.city}}</div>
                </div>
                <div class="row list-group-item">
                    <div class="col">State:</div>
                    <div class="col">{{user.billingAddress.state}}</div>
                </div>
                <div class="row list-group-item">
                    <div class="col">Zipcode:</div>
                    <div class="col">{{user.billingAddress.zipcode}}</div>
                </div>
                <div class="row"><button routerLink="../profile-update" [state]="{ edit: 'billing' }">Edit</button></div>
            </div>
        </div>
    </div>
    
</div>
<ng-template #loading>
    <div class="text-center p-5">
        <div class="spinner-border text-primary"></div>
    </div>
</ng-template>